<div class="jumbotron">
    <a href="#" class="pull-right" ng-click="vm.refreshAll()">
        <span class="fa fa-refresh"></span>
    </a>
    <h1 class="">Hello {{vm.userName}}</h1>
    <p class="lead">Welcome to your LIDT system dashboard.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6">
            <h4>Total Entry Count: {{vm.totalEntryCount}}</h4>
            <h4>Total Exit Count: {{vm.totalExitCount}}</h4>
        </div>
        <div class="col-md-6">
            <h4>Current Occpupants: {{vm.totalOccupantCount}}</h4>
            <h4>Current Capacity: {{vm.totalAvailableCount}}</h4>
        </div>
    </div>
</div>
<ul class="card-container list-unstyled">
    <li ng-repeat="device in vm.devices">
        <device-count-card device-id="{{device.ID}}"
                           entry-count="device.EntryCount"
                           exit-count="device.ExitCount"></device-count-card>
    </li>
</ul>