label {
    display: block;
    font-weight: bold;
}

input {
    border-radius: 3px;
    border: 1px solid gray;
    width: 100%;
}

.center {
    text-align: center;
}

.btn-right {
    float: right;
}