body {
    overflow: hidden;
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
}

.main-content-wrapper {
    display: inline-block;
    max-height: calc(100vh - 56px);
    height: calc(100vh - 56px);
    padding: 15px;
    overflow-y: auto;
}

.main-content-wrapper-expand {
    max-width: calc(100vw - 85px);
}

.main-content-wrapper-retract {
    max-width: 88vw;
    width: 88vw;
}