.navbar-left {
    height: 100%;
}

.nav-link {
    cursor: pointer;
}

.navbar-brand {
    font-size: 0.8em;
    line-height: 2.2em;
}

.acronym, .nav-item {
    font-size: 2em;
}

.nav-item {
    font-size: 1.2em;
}